<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="booyah-box col-10 offset-1">
  <h1>About Black Professionals in STEM</h1>
</>
  <p>
BPS is a platform that brings together Black professionals from industries centered around Science, Tech, Engineering, and Mathematics. Through networking, we strive to promote an environment of community engagement and professional development. 
  </p>
</div>