<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="col-10 offset-1">
  <h1>Donate and Support BPS!</h1>

  <p>
Placeholder for donation link or form.
  </p>

</div>