<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="col-10 offset-1">
  <h1>Events</h1>

  <p>
Check out our upcoming and past events.
  </p>
  <div class="fb-page" data-href="https://www.facebook.com/BPSBayArea/" data-tabs="events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BPSBayArea/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BPSBayArea/">Black Professionals in STEM</a></blockquote></div>

</div>