<meta name="viewport" content="width=device-width, initial-scale=1">
  <div class ="hero">
  </div>

  <br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Our Mission</h3>
    <p>BPS is a platform that brings together Black professionals from industries centered around Science, Tech, Engineering, and Mathematics. </p>
  </div>

  <div class="col-12 col-sm">
    <h3><%=link_to 'Events',  events_path %></h3>
    <p>Learn about our upcoming events!</p>
  </div>

  <div class="col-12 col-sm">
    <h3><%=link_to 'Join Our Mailing List!', '#'%></h3>
    <p>Stay up to date on the latest news & job opportunities in the STEM community.
  </div>
</div>