<h1>Welcome to Black Professionals in Stem!</h1>
<b>
<h2>BPS is a platform that brings together Black professionals from industries centered around Science, Tech, Engineering, and Mathematics. Through networking, we strive to promote an environment of community engagement and professional development.</h2>