<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Black Professionals in STEM</h1>
</nav>
<b>
<h2>BPS is a platform that brings together Black professionals from industries centered around Science, Tech, Engineering, and Mathematics. Through networking, we strive to promote an environment of community engagement and professional development.</h2>