<meta name="viewport" content="width=device-width, initial-scale=1">
  <nav class="navbar navbar-light bg-faded">
      <h1 class="navbar-brand mb-0">Black Professionals in STEM</h1>
  </nav>
  <div class ="hero">
  </div>