<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="booyah-box col-10 offset-1">
  <h1>Join Our Team!</h1>
  </br>
  <p>
    Placeholder for Google Form.
  </p>

</div>