html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  height: 62px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  margin-top: auto;
  font-weight: 100;
}

#footer a {
  color: white;
  font-weight: 100;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}

