@import "bootstrap";

h2 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
}

.navbar {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('congruent_pentagon.png')
}