@import "bootstrap";

.container {
  margin: 0 auto;
  max-width: 1024px;
}

h2 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
}

.navbar {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 900;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('congruent_pentagon.png')
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  padding: 20%;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('connectwork.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: white;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

a {
    color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

@-ms-viewport{
  width: device-width;
}